@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Montserrat", sans-serif;
    /* overflow: hidden; */
}

.nav-bar{
    padding: 1rem;
}

.nav-bar ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

main{
    display: grid;
    grid-template-columns: auto 1fr;
}   

.sidebar-menu{
    height: 100vh;
    width: 250px;
    padding: 5px 1em;
    border-right: 1px solid black;
    position: sticky;
    top: 0;
    align-self: start;
    overflow: hidden;
    transition: 300ms ease-in-out;
    text-wrap: nowrap;
} 

.sidebar-menu.hide{
    width: 60px;
    padding: 5px;
}

.sidebar-menu ul{
    list-style: none;
}

.sidebar-menu > ul > li:first-child{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 16px;
}

.sidebar-menu a, .sidebar-menu .dropdown-btn{
    border-radius: .5em;
    padding: .85em;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 1em;
    color: black;
}

.dropdown-btn{
    width: 100%;
    text-align: left;
    background: none;
    border: none;
    font: inherit;
    cursor: pointer;
}

.dropdown-btn svg{
    transition: 300ms ease;
}

.rotate svg:last-child{
    rotate: 180deg;
}

.sidebar-menu svg{
    flex-shrink: 0;
    color: black;
}

.sidebar-menu a span, .sidebar-menu .dropdown-btn span{
    flex-grow: 1;
}

.sidebar-menu .sub-menu{
    display: grid;
    grid-template-rows: 0fr;
    transition: 300ms ease-in-out;

    > div{
        overflow: hidden;
    }
}

.sidebar-menu .sub-menu.show{
    grid-template-rows: 1fr;
}

.sidebar-menu .sub-menu a{
    padding-left: 2em;
}

#toggle-btn{
    margin-left: auto;
    padding: 1em;
    border: none;
    border-radius: .5em;
    cursor: pointer;
    background: none;

    svg{
        transition: rotate 150ms ease;
    }
}

#toggle.btn.rotate{
    rotate: 180deg;
}

.nav-bar ul div{
    display: flex;
    gap: 1em;
}


@media (max-width: 1000px){
    .desktop-only{
        display: none;
    }

    main{
        display: block;
    }

    .sidebar-menu{
        width: 100%;
        height: 60px;
        border-right: none;
        border-top: 1px solid black;
        padding: 0;
        position: fixed;
        top: unset;
        bottom: 0;

        > ul{
            padding: 0;
            display: grid;
            grid-auto-flow: column;
            grid-auto-columns: 60px;
            overflow-x: auto;
            align-items: center;
        }

        ul li {
            height: 100%;
        }

        ul a, ul .dropdown-btn{
            width: 60px;
            height: 60px;
            justify-content: center;
            padding: 0;
            border-radius: 0;
        }

        ul li span, ul li:first-child, .dropdown-btn svg:last-child{
            display: none;
        }


        ul li .sub-menu.show{
            position: fixed;
            bottom: 60px;
            left: 0;
            height: 60px;
            width: 100%;
            display: flex;
            justify-content: center;

            > div{
                overflow-x: auto;
            }

            li{
                display: inline-flex;
            }

            a{
                padding: 1em;
                width: auto;
                justify-content: center;
            }
        }
    }

}

@media (min-width: 1000px) {
    .nav-bar #mobile-menu-icon{
        display: none;
    }
    .close-menu-btn{
        display: none;
    }

    
    .main-content{
        display: flex;
        flex-direction: column;
    }

    .category-wrapper{
        display: flex;
        align-items: center;
        gap: 10px;
        width: 100%;
        position: relative;
    }

    .main-content .emails-section, .main-content .category-section{
        width: 680px;
        overflow-x: auto;
    }
    .category-section::-webkit-scrollbar {
        display: none;
    }      

    .main-content .category-wrapper .navigation-btns{
        display: block;
        z-index: 100; 
        margin-left: 1rem;
        cursor: pointer;
    }

    .main-content .category-section .category-items{
        height: 300px;
        flex: 0 0 320px;
        overflow-y: scroll;
        position: relative;
        -webkit-overflow-scrolling: touch;
        scrollbar-width: none; /* Firefox */
    }
    
    .category-items::-webkit-scrollbar {
        display: none; /* Chrome, Safari, Edge */
    }

    .category-items .scrollable-shadow-box{
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 50px;
        width: inherit;
        background: linear-gradient(to bottom, rgba(255,255,255,0), rgb(247, 238, 238));
        pointer-events: none;
        transition: .3s ease;
        opacity: 0;
    }

    .category-section .category-items > .desktop-only .category-email-item *{
        font-size: 12px;
        gap: 1rem;
    }

    .category-section .category-items > .desktop-only .category-email-item{
        padding: 1rem;
    }

    .category-section .category-items > .desktop-only .category-email-item i{
        display: none;
    }

    .category-items .desktop-only .category-email-item .priority-tag{
        padding: 2px 2px;
        margin-top: .24rem;
        text-align: center;
    }

    .main-content .emails-priority-container{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        gap: 1rem;
    }

    .emails-priority-container .priority-section{
        flex-grow: 1;
        min-width: 0;
    }
}

/* Category Section */
.category-section{
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    align-items: center;
    gap: 1rem;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.category-items{
    border: 1px solid black;
    padding: 1rem;
    border-radius: 25px;
    font-size: 14px;
    font-weight: 500;
}

.category-items .remove-emails{
    display: none;
}

.category-wrapper .navigation-btns{
    display: none;
}

/* Emails Section */
.email-item{
    display: flex;
    align-items: center;
    width: 100%;
    gap: 1.5rem;
    padding: 1rem;
}

.email-content{
    width: 100%;
}

.sender-name-div{
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

.sender-name{
    font-size: 18px;
    font-weight: 600;
}

.date{
    font-weight: 600;
    font-size: 12px
}

.subject-line{
    font-size: 15px;
    font-weight: 600;
}

.priority-tag-div{
    width: 80px;
}

.priority-tag {
  background-color: #f8d7da;
  color: #721c24;
  padding: 2px 6px;
  border-radius: 12px;
  font-size: 12px;
  width: inherit;
  text-align: center;
}