@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --accent-color: #6D5DF6;
    --secondary-color: #6B7280;
    --border-color: #6D5DF6;
    --selected-border-color: #4f43be;
    --high-priority: #C41E3A;
    --selected-color: #dcdaee;
    --top-nav-height: 60px;
}

body{
    font-family: "Inter", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
    background: #d7d5e8;
    background: linear-gradient(90deg, rgba(215, 213, 232, 1) 0%, rgba(176, 181, 212, 1) 52%, rgba(175, 154, 181, 1) 100%);
    overflow: hidden;
}

.main-content{
    display: grid;
    grid-template-columns: 1fr 2fr;
    position: relative;
    top: 0;
    left: 80px;
    gap: 1rem;
    transition: all .3s ease;
    width: calc(100% - 80px);
    margin-top: 1rem;
    align-items: start;
}

.top-navigation{
    background: rgba(215, 213, 232, 1);
    height: var(--top-nav-height);
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
    z-index: 999;
    display: flex;
    align-items: center;
}

.top-navigation ul {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 2rem;
    justify-content: space-between;
}

.top-navigation ul div{
    display: flex;
    gap: 2rem;
}

.top-navigation ul li a{
    text-decoration: none;
    color: #4e525a;
    padding-left: 2rem;
    font-size: 1.2rem;
    vertical-align: middle;
}

.top-navigation ul li h1{
    font-size: 20px;
    color:#4e525a
}


.sidebar{
    position: fixed;
    top: var(--top-nav-height);
    left: 0;
    height: 100vh;
    width: 80px;
    padding: 0.4rem 0.8rem;
    transition: all .3s ease;
    border-right: 1px solid #6b72805b;
    background: rgba(215, 213, 232, 1);
}

.sidebar.active ~ .main-content{
    left: 250px;
    width: calc(100% - 250px);
}

.sidebar.active {
    width: 250px;
}

.sidebar #btn{
    position: fixed;
    font-size: 1.2rem;
    cursor: pointer;
    top: .8rem;
}


.sidebar ul li{
    position: relative;
    list-style-type: none;
    height: 50px;
    width: 90%;
    margin: 0.8rem auto;
    line-height: 50px;
}

.sidebar ul li a{
    display: flex;
    align-items: center;
    text-decoration: none;
    border-radius: 0.8rem;
    color: #4e525a;
}

.sidebar ul li a i{
    min-width: 50px;
    text-align: center;
    height: 50px;
    border-radius: 12px;
    line-height: 50px;
}

.sidebar .nav-item{
    opacity: 0;
    transition: all .3s ease;
}

.sidebar.active .nav-item{
    opacity: 1;
    transition: all .3s ease;
}


.middle-pane-section{
    display: flex;
    flex-direction: column;
    gap: 0rem;
    background-color: #fff;
    padding: 0.8rem 0rem 0.8rem 0rem;
    border-radius: 0 12px 12px 12px;
    height: calc(100vh - var(--top-nav-height) - 2rem);
    overflow-y: scroll;
}

.inbox-div{
    width: 100%;
    padding: 0.8rem 0.8rem 0.8rem 2.3rem;
    display: flex;
    justify-content: space-between;
    height: auto;
    background-color: #fff;
    border-radius: 12px 12px 0 0;
    border-bottom: 1px solid #6b728059;
}

.inbox-div > .inbox-icons i{
    color: var(--accent-color);
    cursor: pointer;
}

.hidden {
    display: none;
}

#filter-modal {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.5);
}

.filter-box {
    background: linear-gradient(90deg, rgba(215, 213, 232, 1) 0%, rgba(176, 181, 212, 1) 52%, rgba(175, 154, 181, 1) 100%);
    width: 300px;
    margin: 100px auto;
    padding: 16px;
    color: #4e525a;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    border-radius: 15px;
}

.filter-box select{
    border: none;
    border-bottom: 1px solid #6b728059;
    outline: none;
    background: transparent;
    color: #4e525a;
}

.filter-box button{
    width: 64px;
    padding: 5px;
    background-color: var(--accent-color);
    border: none;
    outline: none;
    color: #fff;
    border-radius: 15px;
}

.inbox-div #inbox-text{
    font-size: 18px;
    font-weight: 500;
}

.email-list > .email-item{
    width: 100%;
    display: flex;
    align-items: center;
    gap: 1.2rem;
    border-left: 4px solid var(--border-color);
    border-bottom: 1px solid #6b728059;
    padding: .8rem 0.8rem .8rem .8rem;
    height: auto;
}

.email-list > .email-item:last-of-type{
    margin-bottom: 2rem;
}

.email-list > .email-item > .email-content{
    width: 100%;
}

.email-list > .email-item .subject-div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1rem;
}

#profile-pic{
    width: 30px;
    height: auto;
    border: 1px solid black;
    border-radius: 50%;
    vertical-align: middle;
}

#full-profile-pic{
    width: 30px;
    height: auto;
    border: 1px solid black;
    border-radius: 50%;
    vertical-align: middle;
}

.email-list > .email-item .sender-div{
    display: flex;
    align-items: center;
    gap: 1rem;
    vertical-align: middle;
}

.email-list > .email-item .sender-div p{
    margin-left: auto;
    font-weight: 700 !important;
    text-transform: capitalize;
}

.email-list > .email-item h3{
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 3px;
    color: #111;
}

.email-list > .email-item .subject-div > h4, p{
    font-weight: 600;
    font-size: 12px;
    color: var(--accent-color);
    text-wrap: nowrap;
}

.email-list > .email-item .body-div{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.email-list > .email-item .body-div .priority-tag{
    font-weight: 500;
    font-size: 12px;
    color: var(--high-priority);
    text-transform: capitalize;
}

.email-list > .email-item .body-div p{
    font-weight: 500;
    font-size: 12px;
    color: var(--secondary-color);
    margin-top: 3px;
}

.email-list > .email-item.selected{
    background-color: var(--selected-color) !important;
}

.email-list > .email-item.selected.was-unread-when-selected{
    border-left: 7px solid var(--selected-border-color) !important;
}

.email-list > .email-item.read{
    border-left: none;

    .subject-div > h4, .subject-div > p{
        font-weight: 400;
        color: #111;
    }

    h3{
        font-weight: 400;
    }
    border-left: none;
}

.full-email-section{
    margin: 0rem 0.8rem 0.8rem 0rem;
    display: flex;
    gap: .8rem;
    flex-direction: column;
    height: calc(100vh - var(--top-nav-height) - 2rem);
    max-width: 1100px;
    visibility: hidden;
    overflow: hidden;
}

.full-email-section > .top-subject-div{
    padding: .8rem .8rem .8rem .8rem;
    border-radius: 12px;
    background-color: #fff;
}

.full-email-section > .top-subject-div h3{
    font-size: 18px;
    font-weight: 600 !important;
    color: #111;
}

.full-email-section > .full-email-content{
    width: 100%;
    padding: .8rem .8rem .8rem .8rem;
    background-color: #fff;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    flex: 1 1 auto;
    overflow: hidden;
}

.full-email-section > .full-email-content h4{
    font-size: 14px;
    font-weight: 400;
    color: #111;
}

.full-email-section > .full-email-content .sender-sec{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
    vertical-align: middle;
    width: 100%;
}

.full-email-section > .full-email-content > .sender-sec .sender-content{
    display: flex;
    flex-direction: column;
    gap: .2rem;
    width: inherit;
}

.full-email-section > .full-email-content > .sender-sec > .sender-content .recepient-div{
    display: flex;
    justify-content: space-between;
}

.full-email-content > .body-sec{
    flex: 1 1 auto;
    overflow-y: auto;
}

.full-email-content > .body-sec pre{
    font-size: 14px;
    color: #111;
    font-weight: 400;
    font-family: "Inter";
    display: block;
    white-space: pre-line;
    text-align: left;
    word-break: break-word;
    overflow-wrap: anywhere;
    max-height: 100%;
}

.back-btn{
    display: none;
}

@media (max-width: 767px){
    .sidebar{
        display: none;
    }

    .top-navigation #btn-container{
        display: none;
        width: 100%;
    }

    .top-navigation > ul{
        display: flex;
        justify-content: space-around;
        width: inherit;
        gap: 5rem;
    }

    .top-navigation > ul > li > .back-btn{
        color: #4e525a;
        display: none;
        margin-left: auto;
        background: transparent;
        border: none;
        outline: none;
        font-size: 1.2rem;
        vertical-align: middle;
        
    }

    .top-navigation > ul > li > .back-btn.active{
        display: inline;
    }
    .main-content{
        
        left: 0;
        margin: 0;
    }
    .middle-pane-section{
        padding: 0;
        margin: 0;
        width: 100vw;
        border-radius: 0;
    }
    .inbox-div{
        border-radius: 0;
    }
    .full-email-section{
        display: none;
    }
    .full-email-section.active{
        display: flex;
        flex-direction: column;
        width: 100vw;
        height: calc(100vh - var(--top-nav-height));
    }

    .full-email-section > .top-subject-div{
        border-radius: 0;
        border-bottom: 1px solid #6b728059;
    }

    .full-email-section > .full-email-content{
        border-radius: 0;
        /* allow the content area to scroll on mobile */
        flex: 1 1 auto;
        overflow-y: auto;
    }

    .mid-container.hidden{
        display: none;
    }
}