<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/7555c6f885.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/static/css/styles.css">
    <title>Homepage</title>
</head>
<body>
    <main>
        <nav class="nav-bar">
            <ul>
                <div>
                    <li><i class="fa-solid fa-bars"></i></li>
                    <li>Email Sorter</li>
                </div>
                <li><i class="fa-solid fa-user"></i></li>
            </ul>
        </nav>
        
        <section class="category-section">
            <div class="navigation-btns left"><i class="fa-solid fa-arrow-left"></i></div>
            <div class="category-items">Work</div>
            <div class="category-items">Personal</div>
            <div class="category-items">Newsletters</div>
            <div class="navigation-btns right"><i class="fa-solid fa-arrow-right"></i></div>
        </section>

        <section class="emails-section">
            <div class="email-item">
                <i class="fa-solid fa-user"></i>
                <div class="email-content">
                    <div class="sender-name-div">
                        <h1 class="sender-name">Google Maps Timeline</h1>
                        <h1 class="date">29 Jun</h1>
                    </div>
                    <div class="subject-line-div">
                        <h2 class="subject-line">A new device is saving visits in Ti...</h2>
                    </div>
                    <div class="priority-tag-div">
                        <p class="priority-tag">Urgent</p>
                    </div>
                </div>
            </div>

            <div class="email-item">
                <i class="fa-solid fa-user"></i>
                <div class="email-content">
                    <div class="sender-name-div">
                        <h1 class="sender-name">Google Maps Timeline</h1>
                        <h1 class="date">29 Jun</h1>
                    </div>
                    <div class="subject-line-div">
                        <h2 class="subject-line">A new device is saving visits in Ti...</h2>
                    </div>
                    <div class="priority-tag-div">
                        <p class="priority-tag">Urgent</p>
                    </div>
                </div>
            </div>

            <div class="email-item">
                <i class="fa-solid fa-user"></i>
                <div class="email-content">
                    <div class="sender-name-div">
                        <h1 class="sender-name">Google Maps Timeline</h1>
                        <h1 class="date">29 Jun</h1>
                    </div>
                    <div class="subject-line-div">
                        <h2 class="subject-line">A new device is saving visits in Ti...</h2>
                    </div>
                    <div class="priority-tag-div">
                        <p class="priority-tag">Urgent</p>
                    </div>
                </div>
            </div>

            <div class="email-item">
                <i class="fa-solid fa-user"></i>
                <div class="email-content">
                    <div class="sender-name-div">
                        <h1 class="sender-name">Google Maps Timeline</h1>
                        <h1 class="date">29 Jun</h1>
                    </div>
                    <div class="subject-line-div">
                        <h2 class="subject-line">A new device is saving visits in Ti...</h2>
                    </div>
                    <div class="priority-tag-div">
                        <p class="priority-tag">Urgent</p>
                    </div>
                </div>
            </div>

            <div class="email-item">
                <i class="fa-solid fa-user"></i>
                <div class="email-content">
                    <div class="sender-name-div">
                        <h1 class="sender-name">Google Maps Timeline</h1>
                        <h1 class="date">29 Jun</h1>
                    </div>
                    <div class="subject-line-div">
                        <h2 class="subject-line">A new device is saving visits in Ti...</h2>
                    </div>
                    <div class="priority-tag-div">
                        <p class="priority-tag">Urgent</p>
                    </div>
                </div>
            </div>
        </section>
        <!-- <table>
            <tr>
                <th>ID:</th>
                <th>Sender</th>
                <th>Subject</th>
                <th>Category</th>
                <th>Priority</th>
                <th>Date</th>
            </tr>
            {% for email in emails %}
                <tr>
                    <td>{{email[0]}}</td>
                    <td>{{email[1]}}</td>
                    <td>{{email[2]}}</td>
                    <td>{{email[3]}}</td>
                    <td>{{email[4]}}</td>
                    <td>{{email[5]}}</td>
                </tr>
            {% endfor %}
        </table> -->
    </main>
</body>
</html>