<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/7555c6f885.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/static/css/styles.css">
    <title>Homepage</title>
</head>
<body>
    <nav class="nav-bar">
        <ul>
            <div>
                <li>Email Sorter</li>
            </div>
            <li><i class="fa-solid fa-user"></i></li>
        </ul>
    </nav>
    <main>
        <aside class="sidebar-menu">
            <ul class="menu-list">
                <li>
                    <button onclick="toggleSidebar()" id="toggle-btn">
                        <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#1f1f1f"><path d="M440-240 200-480l240-240 56 56-183 184 183 184-56 56Zm264 0L464-480l240-240 56 56-183 184 183 184-56 56Z"/></svg>
                    </button>
                </li>
                <li class="active">
                    <button onclick="toggleSubmenu(this)" class="dropdown-btn">
                        <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#1f1f1f"><path d="M120-120q-33 0-56.5-23.5T40-200v-520h80v520h680v80H120Zm160-160q-33 0-56.5-23.5T200-360v-440q0-33 23.5-56.5T280-880h200l80 80h280q33 0 56.5 23.5T920-720v360q0 33-23.5 56.5T840-280H280Zm0-80h560v-360H527l-80-80H280v440Zm0 0v-440 440Z"/></svg>
                        <span>Categories</span>
                        <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#1f1f1f"><path d="M480-344 240-584l56-56 184 184 184-184 56 56-240 240Z"/></svg>
                    </button>
                    <ul class="sub-menu">
                        <div>
                            <li><a href="">Work</a></li>
                            <li><a href="">Personal</a></li>
                            <li><a href="">Newsletter</a></li>
                            <li><a href="">Social</a></li>
                            <li><a href="">Finance</a></li>
                            <li><a href="">Shopping</a></li>
                        </div>
                    </ul>
                </li>
                <li class="active">
                    <button onclick="toggleSubmenu(this)" class="dropdown-btn">
                        <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#1f1f1f"><path d="m159-168-34-14q-31-13-41.5-45t3.5-63l72-156v278Zm160 88q-33 0-56.5-23.5T239-160v-240l106 294q3 7 6 13.5t8 12.5h-40Zm206-4q-32 12-62-3t-42-47L243-622q-12-32 2-62.5t46-41.5l302-110q32-12 62 3t42 47l178 488q12 32-2 62.5T827-194L525-84Zm-86-476q17 0 28.5-11.5T479-600q0-17-11.5-28.5T439-640q-17 0-28.5 11.5T399-600q0 17 11.5 28.5T439-560Zm58 400 302-110-178-490-302 110 178 490ZM319-650l302-110-302 110Z"/></svg>
                        <span>Priority</span>
                        <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#1f1f1f"><path d="M480-344 240-584l56-56 184 184 184-184 56 56-240 240Z"/></svg>
                    </button>
                    <ul class="sub-menu">
                        <div>
                            <li><a href="">Work</a></li>
                            <li><a href="">Personal</a></li>
                            <li><a href="">Newsletter</a></li>
                            <li><a href="">Social</a></li>
                            <li><a href="">Finance</a></li>
                            <li><a href="">Shopping</a></li>
                        </div>
                    </ul>
                </li>
                <li>
                    <a href="">
                        <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#1f1f1f"><path d="M784-120 532-372q-30 24-69 38t-83 14q-109 0-184.5-75.5T120-580q0-109 75.5-184.5T380-840q109 0 184.5 75.5T640-580q0 44-14 83t-38 69l252 252-56 56ZM380-400q75 0 127.5-52.5T560-580q0-75-52.5-127.5T380-760q-75 0-127.5 52.5T200-580q0 75 52.5 127.5T380-400Z"/></svg>
                        <span>Search</span>
                    </a>
                </li>
                <li>
                    <a href="">
                        <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#1f1f1f"><path d="M204-318q-22-38-33-78t-11-82q0-134 93-228t227-94h7l-64-64 56-56 160 160-160 160-56-56 64-64h-7q-100 0-170 70.5T240-478q0 26 6 51t18 49l-60 60ZM481-40 321-200l160-160 56 56-64 64h7q100 0 170-70.5T720-482q0-26-6-51t-18-49l60-60q22 38 33 78t11 82q0 134-93 228t-227 94h-7l64 64-56 56Z"/></svg>
                        <span>Reclassify</span>
                    </a>
                </li>
                <li>
                    <a href="">
                        <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#1f1f1f"><path d="M280-280h80v-200h-80v200Zm320 0h80v-400h-80v400Zm-160 0h80v-120h-80v120Zm0-200h80v-80h-80v80ZM200-120q-33 0-56.5-23.5T120-200v-560q0-33 23.5-56.5T200-840h560q33 0 56.5 23.5T840-760v560q0 33-23.5 56.5T760-120H200Zm0-80h560v-560H200v560Zm0-560v560-560Z"/></svg>
                        <span>Insights</span>
                    </a>
                </li>
                <li>
                    <a href="">
                        <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#1f1f1f"><path d="m370-80-16-128q-13-5-24.5-12T307-235l-119 50L78-375l103-78q-1-7-1-13.5v-27q0-6.5 1-13.5L78-585l110-190 119 50q11-8 23-15t24-12l16-128h220l16 128q13 5 24.5 12t22.5 15l119-50 110 190-103 78q1 7 1 13.5v27q0 6.5-2 13.5l103 78-110 190-118-50q-11 8-23 15t-24 12L590-80H370Zm70-80h79l14-106q31-8 57.5-23.5T639-327l99 41 39-68-86-65q5-14 7-29.5t2-31.5q0-16-2-31.5t-7-29.5l86-65-39-68-99 42q-22-23-48.5-38.5T533-694l-13-106h-79l-14 106q-31 8-57.5 23.5T321-633l-99-41-39 68 86 64q-5 15-7 30t-2 32q0 16 2 31t7 30l-86 65 39 68 99-42q22 23 48.5 38.5T427-266l13 106Zm42-180q58 0 99-41t41-99q0-58-41-99t-99-41q-59 0-99.5 41T342-480q0 58 40.5 99t99.5 41Zm-2-140Z"/></svg>
                        <span>Settings</span>
                    </a>
                </li>
            </ul>
        </aside>
        
        <div class="main-content">
            <div class="category-wrapper">
                <div class="navigation-btns left" id="left-nav-btn"><i class="fa-solid fa-arrow-left"></i></div>
                <section class="category-section">
                    <div class="category-items">
                        <h2>Work</h2>
                        <div class="desktop-only">
                            {% set work_emails = emails | selectattr("3", "equalto", "Work") | list %}         
                            {% if work_emails %}
                                {% for email in work_emails %}
                                    <div class="category-email-item">
                                        <i class="fa-solid fa-user"></i>
                                        <div class="email-content">
                                            <div class="sender-name-div">
                                                <h1 class="sender-name">{{ email[1] }}</h1>
                                                <h1 class="date">29 Jun</h1>
                                            </div>
                                            <div class="subject-line-div">
                                                <h2 class="subject-line">{{ email[2] }}</h2>
                                            </div>
                                            <div class="priority-tag-div">
                                                <p class="priority-tag">{{ email[4] }}</p>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            {% else %}
                                <p class="no-emails">No emails in the Wprk category.</p>
                            {% endif %}
                        </div>
                        <div class="scrollable-shadow-box"></div>
                    </div>
                    <div class="category-items">
                        <h2>Social</h2>
                        <div class="desktop-only">
                            {% set social_emails = emails | selectattr("3", "equalto", "Social") | list %}         
                            {% if social_emails %}
                                {% for email in social_emails %}
                                    <div class="category-email-item">
                                        <i class="fa-solid fa-user"></i>
                                        <div class="email-content">
                                            <div class="sender-name-div">
                                                <h1 class="sender-name">{{ email[1] }}</h1>
                                                <h1 class="date">29 Jun</h1>
                                            </div>
                                            <div class="subject-line-div">
                                                <h2 class="subject-line">{{ email[2] }}</h2>
                                            </div>
                                            <div class="priority-tag-div">
                                                <p class="priority-tag">{{ email[4] }}</p>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            {% else %}
                                <p class="no-emails">No emails in the Social category.</p>
                            {% endif %}
                        </div>
                        <div class="scrollable-shadow-box"></div>
                    </div>
                    <div class="category-items">
                        <h2>Newsletter</h2>
                        <div class="desktop-only">
                            {% set newsletter_emails = emails | selectattr("3", "equalto", "Newsletters") | list %}         
                            {% if newsletter_emails %}
                                {% for email in newsletter_emails %}
                                    <div class="category-email-item">
                                        <i class="fa-solid fa-user"></i>
                                        <div class="email-content">
                                            <div class="sender-name-div">
                                                <h1 class="sender-name">{{ email[1] }}</h1>
                                                <h1 class="date">29 Jun</h1>
                                            </div>
                                            <div class="subject-line-div">
                                                <h2 class="subject-line">{{ email[2] }}</h2>
                                            </div>
                                            <div class="priority-tag-div">
                                                <p class="priority-tag">{{ email[4] }}</p>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            {% else %}
                                <p class="no-emails">No emails in the Newsletter category.</p>
                            {% endif %}
                        </div>
                        <div class="scrollable-shadow-box"></div>
                    </div>
                    <div class="category-items">
                        <h2>Personal</h2>
                        <div class="desktop-only">
                            {% set newsletter_emails = emails | selectattr("3", "equalto", "Newsletters") | list %}         
                            {% if newsletter_emails %}
                            {% for email in newsletter_emails %}
                            <div class="category-email-item">
                                <i class="fa-solid fa-user"></i>
                                <div class="email-content">
                                    <div class="sender-name-div">
                                        <h1 class="sender-name">{{ email[1] }}</h1>
                                        <h1 class="date">29 Jun</h1>
                                    </div>
                                    <div class="subject-line-div">
                                        <h2 class="subject-line">{{ email[2] }}</h2>
                                    </div>
                                    <div class="priority-tag-div">
                                        <p class="priority-tag">{{ email[4] }}</p>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                            {% else %}
                            <p class="no-emails">No emails in the Newsletter category.</p>
                            {% endif %}
                        </div>
                        <div class="scrollable-shadow-box"></div>
                    </div>
                </section>
                <div id="right-nav-btn" class="navigation-btns right"><i class="fa-solid fa-arrow-right"></i></div>
            </div>
            
            <div class="emails-priority-container">
                <section class="emails-section">
                    {% for email in emails %}
                        <div class="email-item">
                            <i class="fa-solid fa-user"></i>
                            <div class="email-content">
                                <div class="sender-name-div">
                                    <h1 class="sender-name">{{email[1]}}</h1>
                                    <h1 class="date">29 Jun</h1>
                                </div>
                                <div class="subject-line-div">
                                    <h2 class="subject-line">{{email[2]}}</h2>
                                </div>
                                <div class="priority-tag-div">
                                    <p class="priority-tag">{{email[4]}}</p>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </section>
                <section class="priority-section desktop-only">
                    <h1>Emails classifed based on priority!</h1>
                </section>
            </div>
        </div>
    </main>

    <script src="/static/js/script.js"></script>
</body>
</html>